footer {
  position: relative;
  background-color: $gold;
  color: #fff;
  z-index: 1000;
  padding-top: 2rem;

  @include breakpoint(large) {
    padding: 0;
  }

  img {
    width: 100%;
    max-width: 200px;
  }

  .capstone-meta {
    margin-bottom: 2rem;

    h6 {
      margin: 0;
    }
  }

  .capstone-network {
    padding: 1rem 0;

    h6 {
      margin-top: 1rem;
      color: #fff;
    }
  }

  .attribution {
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 1rem;
    background-color: #1c2436;

    p {
      margin: 0;
    }

    i {
      color: pink;
    }

    a {
      color: #f7cd10;
    }
  }
}
