.banner {
  background-color: #fff;
  opacity: 0.8;
  transition: opacity 0.3s ease-out;

  @extend .menu;

  position: fixed;
  z-index: 1000;
  width: 100%;

  &:hover,
  &:focus {
    opacity: 1;
  }

  .grid-x {
    width: 100%;
  }
}

.nav-primary {
  display: flex;
  justify-content: center;
}

.mobile-logo {
  max-width: 50px;
  display: block;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
}

.brand {
  img {
    width: 100%;
    opacity: 0.8;
    transition: all 0.3s ease-out;

    &:hover {
      opacity: 1;
    }
  }
}

.title-bar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background: white;
  border: 2px solid #eee;

  a {
    color: $gold;
    text-transform: uppercase;
    float: left;
    vertical-align: middle;
    font-size: 1.75rem;
  }
}

.social {
  a {
    display: inline-block;
    padding: 0.5rem;
  }

  i {
    font-size: 1.5rem;
    color: #555;
    transition: color 0.3s ease-out;

    &:hover,
    &:focus {
      color: $gold;
    }
  }
}

.scroll {
  transition: background-color 0.3s ease-out;
  background-color: #fff;

  .menu-item {
    a {
      color: #333;
      transition: color 0.3s ease-out;

      &:hover,
      &:focus {
        color: $gold;
      }
    }
  }
}
