.off-canvas {
  background-color: #fff;

  nav {
    ul {
      li {
        width: 100%;

        a {
          color: #000;
          font-weight: 600;
          font-size: 1.5rem;
        }
      }
    }
  }
}

nav {
  ul {
    text-decoration: none;

    @include breakpoint(large) {
      float: right;
    }

    li {
      a {
        font-family: 'Greycliff', sans-serif;

        @include breakpoint(large) {
          color: #000;
          font-size: 1rem;
          font-weight: 600;
          transition: color 0.43s ease-out;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $gold;
          }
        }
      }
    }
  }
}
