h1,
h2,
h3,
h4 {
  font-family: 'Prompt', sans-serif;
}

body,
p,
a {
  font-family: 'PT Sans', sans-serif;
}

.wpcf7-submit {
  background: transparent;
  border: 2px solid $gold;
  font-size: 2rem;
  color: $gold;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 3rem;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover,
  &:focus {
    background-color: $gold;
    color: #fff;
  }
}

.wpcf7 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact-form {
  padding-top: 2rem;

  @include breakpoint(large) {
    padding: 0;
  }
}
