.page-container {
  padding-top: 50px;

  @include breakpoint(medium) {
    padding-top: 95px;
  }
}

.section-container {
  background-color: #1a1a1a;
  background-size: cover !important;

  @include breakpoint(medium) {
    height: 100vh;
  }
}

.section-title {
  width: 100%;
  display: block;
  font-size: 1.75rem;
  font-weight: bold;
  color: $gold;
  opacity: 0.8;
  padding: 4rem 0;
  letter-spacing: 5px;
  text-transform: uppercase;

  @include breakpoint(medium) {
    font-size: 3rem;
    letter-spacing: 8px;
  }
}

#mission-header {
  padding: 0;
  padding-top: 1rem;

  @include breakpoint(medium) {
    width: 100%;
    display: block;
    font-size: 1.75rem;
    font-weight: bold;
    color: $gold;
    opacity: 0.8;
    padding: 4rem 0;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}

.right-container {
  height: auto;
  background-color: white;
  opacity: 0.95;
  overflow-y: scroll;
  overflow-x: auto;

  @include breakpoint(medium) {
    height: 100vh;
  }
}

.right-container::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.right-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.right-container::-webkit-scrollbar-thumb:vertical {
  background-color: $gold;
  height: 100px;
}

.content-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;

  @include breakpoint(medium) {
    margin: 2rem;
    font-size: 1.75rem;
  }
}

.about-content {
  padding: 1.5rem 0.5rem;
  font-size: 1rem;

  @include breakpoint(medium) {
    font-size: 1.1rem;
    padding: 1rem 3.75rem;
  }
}

.city-scape {
  margin-top: 0;

  @include breakpoint(medium) {
    margin-top: 4rem;
  }
}

.cma-logo {
  margin-top: 12rem;
}

.staff-card-container {
  margin: 1.75rem;
}

.staff-title-box {
  h3 {
    margin-bottom: 0;
    margin-top: 0.25rem;
  }

  p {
    padding: 0.5rem;
  }
}

.mission-summary {
  font-family: Prompt;
  text-transform: uppercase;
  padding: 2rem 2rem 0;
  margin-bottom: 0;

  strong:nth-child(2) {
    color: $gold;
  }
}

.title-heading {
  color: $gold;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
}

.value-card-container {
  margin: 1rem;
  color: white;

  @include breakpoint(medium) {
    padding: 0 1.5rem;
    margin: 3rem 2rem;
  }
}

.value-card-divider {
  background-color: $gold;
  border: 1px solid $gold;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;

  h3 {
    display: inline;
    vertical-align: middle;
  }

  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.value-card-content {
  padding: 1rem;
  color: black;
  font-weight: 400;
  border: 1px solid #333;
  border-top: none;
  margin-bottom: 0;
}

.bottom-nav {
  position: fixed;
  width: 50%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  margin: 0;
  text-align: center;
  padding: 0.75rem 0;

  li {
    display: inline;
    color: white;
    padding: 0 0.75rem;
    border-right: 1px solid white;

    &:last-child {
      border-right: none;
    }
  }

  a {
    color: white;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $gold;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
    }
  }
}

