
.connect-hero {
  background-color: #2f353e;

  @include breakpoint(medium) {
    height: 60vh;
  }
}

.connect-content {
  font-family: 'PT Sans', sans-serif;
  padding: 2rem;
}

.connect-icon {
  padding-top: 2rem;
}

.connect-title {
  font-family: 'Prompt', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  letter-spacing: 1px;
}

.accordion-title.question {
  transition: all 0.2s ease-in-out;
  font-size: 1.25rem;

  @include breakpoint(medium) {
    font-size: 1.5rem;
  }

  &:hover,
  &:focus {
    color: white;
    background-color: $gold;
  }
}

.answer {
  font-style: italic;
}
