.event-image {
  height: calc(100vh - 95px);
  min-height: 350px;
}

.event.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover,
  &:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.event-meta {
  padding: 1rem;
}

.event-date {
  color: $gold;
  font-weight: bold;
}

#event-single {
  .right-container {
    padding: 2rem;
  }

  h6 {
    font-weight: 600;
  }
}
