.home-container {
  height: 100vh;
  min-height: 720px;
  width: 100%;
  background-color: #1a1a1a;
  background-size: cover;

  .grid-x {
    height: 100%;
  }

  img {
    opacity: 0.9;
  }
}

.hero-text {
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
  color: white;
  opacity: 0.9;
  font-size: 2rem;
  margin: 3rem 0;
}

.join-us {
  font-family: 'Prompt', sans-serif;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5%;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: #f6be00;
    transition: all 0.2s ease-in-out;
  }
}
