.reveal {
  padding: 0;
}

.modal-header {
  background-color: $gold;
  color: #fff;

  .modal-header-content {
    padding: 1rem;

    @include breakpoint(large) {
      padding: 1rem 4rem;
    }
  }
}

.sermon {
  padding: 1.5rem;

  h4 {
    margin: 0;
    vertical-align: middle;
  }

  .meta {
    vertical-align: middle;
    margin: 0;
    font-style: italic;
    color: #bbb;
  }

  .sermon-description {
    clear: both;
  }

  audio {
    width: 100%;
  }

  border-bottom: 1px solid #bbb;
}

.close-button span {
  color: #fff;
  font-size: 2.5rem;
}

.sermon-modal {
  top: 0 !important;
}
